/* * {
     margin: 0; 
    padding: 0;
} */
/* Every element selector */
/* a reset, zero everything out, without having initial margin or padding in certain elements */

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-weight: normal;
    /* Same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none; /* Eliminates underscore */
    color: #000; /* Black */
}

a:hover{
    color: red; /* hover state */
}

a:active{
    color: green; /* active state, click on it */
}

/* a:visited{
    color: yellow; x
} */ /* hover state */

.container{
    width: 80%; /* % Responds to the site size */
    margin: auto; /* It ests auto margin in sides */
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

button:hover{
    background-color: red;
    color: #fff;
}

.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    
    border: 5px red solid; /* Same as above */
    border-width: 3px; /* set all sides */
    border-bottom-width: 10px; /* Target a specific border */
    border-top-style: dotted;

    border: 5px red solid;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    padding: 20px; /* Same as above */

    margin-top: 20px; /* space outside */
    margin: 20px 0;
}

.clr{
    clear: both; /* clear any floats of it */
}

.box-1 h1{
    /* Target any h1 within this class */
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;

}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square; /* convert dots into squares */
    list-style: none; /* Eliminates dots */


}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{ /* labels & inputs are inline level elements */
    display: block; /* Block level elements */
    /* set in a separate line */
}

.my-form input [type="text"], .my-form textarea /* type=text disregard the btn because it is not a type of text input  */ {
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /* takes border & padding & apply it into the width */
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative; /* Parent element positioned relative of .p-box h1  */
    background-image: url('../images/bgimage.jpg');

    background-repeat: no-repeat;
    /*  */
    background-position: 100px 200px; /* push it over a 100px & down 200px  */ /* You can also use %s */
    background-position: center top; /* horizontaly &  verticaly */
    /*  */
}

.p-box h1{
    position: absolute; /* Child element positioned absolute of .p-box parent */
    top: 100px; /* it lowers 100px from top */
    left: 200px; /* to the right from the left 200px */
}

.p-box h2 {
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

/* Pseudo elements */ /* CSS3 */

.my-list li:first-child{ /* It selects the first child */
    background: red;
}

.my-list li:last-child {
    /* It selects the first child */
    background: blue;
}

.my-list li:nth-child(5) {
    /* It selects 5th */
    background: yellow;
}

.my-list li:nth-child(even) {
    /* It selects 5th */
    background: grey;
}
